/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-04-2015, 19:29:30
    Author     : Florent
*/

body{
     
    
    
}
img{
    margin-top: 5px;
    
}

.Button{
    
    float: left;
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 300px;
    margin-right: 1000px;
    
}

div{
    
    
    
}


h1{
    
    text-align: center;
    border-bottom: 4px solid #0066cc;
    border-top:  4px solid #0066cc;
    
 //  border-color: #0066cc;
    
}

