/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-04-2015, 20:53:52
    Author     : Daniel
*/

h1 {
    color: #0066cc;
}

#header {
    text-align: center;
    border-top: 4px solid #0066cc;
}

#middle {
    text-align: center;
    margin-top: 2.5em;
}

#bottom {
        border-bottom: 4px solid #0066cc;
}


#login {
    margin-top: 5em;
    margin-bottom: 5em;
}

#username {
    margin: 1em;
}

#password {
    margin: 1em;
}

.Button {
    width: 12.5em;
    height: 1.875em;
}





